*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

main{
    height: fit-content;
    background:  url("scene/image.png") no-repeat fixed center;
    background-size: cover;
}

header{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    margin: 15px;
    width: auto;
}
a{
    text-decoration: none;
    color: black;
    transition: top 0.2s ease; 
}
li:hover{
    transform: translateY(-3px);
}
#try{
    margin: 20px;
}
#tryNow{
    padding: 9px;
    font-size: 25px;
    background-color: burlywood;
    border: 1px solid brown;
    border-radius: 16px;
}


ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
}

ul>li{
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    font-weight: bold;
}

#title{
    color: white;
}

.content1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
#title{
    margin: 50px;
    font-size: 28px;
}
#cloud{
    margin: 50px;
}
@media (max-width: 810px) {
    #cloud{
        visibility: hidden;
    }
}
#play{
    padding: 9px;
    font-size: 25px;
    background-color: burlywood;
    border: 1px solid brown;
    border-radius: 10px;
}
.jackpot{
    margin: 50px;

    float: right;
}